* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  line-height: 1.5;
  list-style: none;
}

body {
  background-color: #faf9f9;
  max-width: 800px;
  margin: 0 auto;

  font-size: 20px;
  color: #46484E;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding: 30px 0;
}

.todo-box{
  position: relative;
  max-width: 500px;
  margin: 20px auto;
  word-break: break-all;
  padding: 30px;
  border-radius: 2px;
  font-size: 1.5rem;
}

.todo-box:nth-child(1){
  margin-top: 30px;
}

.btn-close{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-weight: bold;
}

.default{
  background-color: #d8d8d8;
}

.yellow{
  background-color: #ffffab;
}

.blue{
  background-color: #a0a0ff;
}

.red{
  background-color: #ff9d9d;
}

.green{
  background-color: #a9ffa9;
}