* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  line-height: 1.5;
  list-style: none;
}

html,
body{
  height: 100%;
}

body {
  display: grid;
  grid: 1fr 8fr/1fr;
  background-color: #faf9f9;

  font-size: 20px;
  color: #46484E;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close{
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
}

.todo-container{
  padding: 20px;
  background: #eaeaea;
  max-width: 400px;
  margin: 50px auto;
}

.todo-box{
  position: relative;
  max-width: 100%;
}

.default{
  background-color: #d8d8d8;
}

.yellow{
  background-color: #ffffab;
}

.blue{
  background-color: #a0a0ff;
}

.red{
  background-color: #ff9d9d;
}

.green{
  background-color: #a9ffa9;
}