.btn-close{
  position: absolute;
  right: 10px;
  top: 0;
}

.todo-box{
  display: flex;
  align-items: center;
  height: 60px;
  width: 80%;
  position: relative;
}

.color{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.default{
  background-color: #d8d8d8;
}

.yellow{
  background-color: #ffffab;
}

.blue{
  background-color: #a0a0ff;
}

.red{
  background-color: #ff9d9d;
}

.green{
  background-color: #a9ffa9;
}